*{
	box-sizing: border-box;
}
.box_vertical{
	max-width: 400px;
	background: #ddd;
	padding: 10px;
}
.box_vertical p{
	font-size: 18px;
	font-family: Arial, sans-serif;
}
.btn_full{
	background: red;
	text-align: center;
	padding: 10px;
	display: block;
	cursor: pointer;
}
.box_vertical.active .btn_full{
	background: green;
}
.btn_full .open{
	display: block;
}
.box_vertical.active .btn_full .open{
	display: none;
}
.btn_full .close{
	display: none;
}
.box_vertical.active .btn_full .close{
	display: block;
}